<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betta.eng.mapper.EngArticleWordRelMapper">
    
    <resultMap type="EngArticleWordRel" id="EngArticleWordRelResult">
        <result property="id"    column="id"    />
        <result property="articleId"    column="article_id"    />
        <result property="wordName"    column="word_name"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectEngArticleWordRelVo">
        select id, article_id, word_name, status, create_time, create_by, update_time, update_by from eng_article_word_rel
    </sql>

    <select id="selectEngArticleWordRelList" parameterType="EngArticleWordRel" resultMap="EngArticleWordRelResult">
        <include refid="selectEngArticleWordRelVo"/>
        <where>  
            <if test="articleId != null "> and article_id = #{articleId}</if>
            <if test="wordName != null "> and word_name = #{wordName}</if>
            <!-- 数据范围过滤 -->
            ${params.createByScope}
        </where>
    </select>
    
    <select id="selectEngArticleWordRelById" parameterType="Long" resultMap="EngArticleWordRelResult">
        <include refid="selectEngArticleWordRelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEngArticleWordRel" parameterType="EngArticleWordRel" useGeneratedKeys="true" keyProperty="id">
        insert into eng_article_word_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">article_id,</if>
            <if test="wordName != null">word_name,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">#{articleId},</if>
            <if test="wordName != null">#{wordName},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <delete id="deleteEngArticleWordRelById" parameterType="Long">
        delete from eng_article_word_rel where id = #{id}
    </delete>

    <delete id="deleteEngArticleWordRelByIds" parameterType="String">
        delete from eng_article_word_rel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByArticleId" parameterType="Long">
        delete from eng_article_word_rel where article_id = #{articleId}
    </delete>
</mapper>