<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betta.eng.mapper.EngIcibaSentenceMapper">
    
    <resultMap type="EngIcibaSentence" id="EngIcibaSentenceResult">
        <result property="id"    column="id"    />
        <result property="wordId"    column="word_id"    />
        <result property="orig"    column="orig"    />
        <result property="trans"    column="trans"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectEngIcibaSentenceVo">
        select id, word_id, orig, trans, status, create_time, create_by, update_time, update_by from eng_iciba_sentence
    </sql>

    <select id="selectEngIcibaSentenceList" parameterType="EngIcibaSentence" resultMap="EngIcibaSentenceResult">
        <include refid="selectEngIcibaSentenceVo"/>
        <where>  
            <if test="wordId != null "> and word_id = #{wordId}</if>
            <if test="orig != null  and orig != ''"> and orig = #{orig}</if>
            <!-- 数据范围过滤 -->
            ${params.createByScope}
        </where>
    </select>
    
    <select id="selectEngIcibaSentenceById" parameterType="Long" resultMap="EngIcibaSentenceResult">
        <include refid="selectEngIcibaSentenceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEngIcibaSentence" parameterType="EngIcibaSentence" useGeneratedKeys="true" keyProperty="id">
        insert into eng_iciba_sentence
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wordId != null">word_id,</if>
            <if test="orig != null and orig != ''">orig,</if>
            <if test="trans != null">trans,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wordId != null">#{wordId},</if>
            <if test="orig != null and orig != ''">#{orig},</if>
            <if test="trans != null">#{trans},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateEngIcibaSentence" parameterType="EngIcibaSentence">
        update eng_iciba_sentence
        <trim prefix="SET" suffixOverrides=",">
            <if test="wordId != null">word_id = #{wordId},</if>
            <if test="orig != null and orig != ''">orig = #{orig},</if>
            <if test="trans != null">trans = #{trans},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEngIcibaSentenceById" parameterType="Long">
        delete from eng_iciba_sentence where id = #{id}
    </delete>

    <delete id="deleteEngIcibaSentenceByIds" parameterType="String">
        delete from eng_iciba_sentence where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByWordId" parameterType="Long">
        delete
        from eng_iciba_sentence
        where word_id = #{wordId}
    </delete>
</mapper>