<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betta.system.mapper.SysDataMapper">
    
    <resultMap type="SysData" id="SysDataResult">
        <result property="id"    column="id"    />
        <result property="dataName"    column="data_name"    />
        <result property="dataType"    column="data_type"    />
        <result property="dataKey"    column="data_key"    />
        <result property="dataValue"    column="data_value"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysDataVo">
        select id, data_name, data_type, data_key, data_value, create_by, create_time, update_by, update_time, remark from sys_data
    </sql>

    <select id="selectSysDataList" parameterType="SysData" resultMap="SysDataResult">
        <include refid="selectSysDataVo"/>
        <where>  
            <if test="dataName != null  and dataName != ''"> and data_name like concat('%', #{dataName}, '%')</if>
            <if test="dataType != null  and dataType != ''"> and data_type = #{dataType}</if>
            <if test="dataKey != null  and dataKey != ''"> and data_key like concat('%', #{dataKey}, '%')</if>
            <if test="dataValue != null  and dataValue != ''"> and data_value like concat('%', #{dataValue}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysDataById" parameterType="Long" resultMap="SysDataResult">
        <include refid="selectSysDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysData" parameterType="SysData" useGeneratedKeys="true" keyProperty="id">
        insert into sys_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dataName != null">data_name,</if>
            <if test="dataType != null">data_type,</if>
            <if test="dataKey != null">data_key,</if>
            <if test="dataValue != null">data_value,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dataName != null">#{dataName},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="dataKey != null">#{dataKey},</if>
            <if test="dataValue != null">#{dataValue},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysData" parameterType="SysData">
        update sys_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="dataName != null">data_name = #{dataName},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="dataKey != null">data_key = #{dataKey},</if>
            <if test="dataValue != null">data_value = #{dataValue},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysDataById" parameterType="Long">
        delete from sys_data where id = #{id}
    </delete>

    <delete id="deleteSysDataByIds" parameterType="String">
        delete from sys_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>